/* URL'S OF COLORS FOR THE FRONT-PAGE https://colorhunt.co/palette/157118 */

/* RESET */

* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    scroll-behavior: smooth;
    max-width: 100%;
}
li {
    list-style-type: none;
}
textarea {
    resize: none;
}
h2 {
    font-size: 3em;
    text-align: center;
}
p {
    font-size: 1em;
}
a {
    text-decoration: none;
}
input, textarea {
    color: #181818;
}

/* ______________________________________________________________________________ */

header {
    width: 100vw;
}
#nav-header {
    width: 100vw;
    position: absolute;
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#nav-header li {
    padding: 1.8%;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}
.a-header {
    color: #609090;
    text-decoration: none;
}
#nav-header a:hover {
    color: white;
    text-shadow: 0 0 1em white, 0 0 0.2em;
}

/* =====================================
TOP OF PAGE
========================================*/

#top-of-page {
    background-image: url("../img/studio_header.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-of-page h1 {
    font-size: 8em;
    font-weight: 900;
}
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0px 2px 2px#232323;
}
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}
#top-of-page h2 {
    color: aliceblue;
    font-style: italic;
    font-size: 2.1em;
    font-weight: 800;
    text-shadow: 2px 2px 0 #7A7A7A;
}
#button {
    z-index: 999;
    margin-top: 15%;
    width: 150px;
    height: 30px;
    background-color: #304848;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#button:hover {
    box-shadow: 1px 1px 4px white;
    background-color: #eeeeee;
}
#button p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: #eeeeee;
}
#button p:hover{
    color: black;
}

/* =====================================
DATE AND CONCERT
========================================*/

#date-concert {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-image: linear-gradient(0.23turn, #e5e5e5, #23374d);
}
#div-show {
    width: 60vw;
    height: 100vh;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#div-show h2 {
    font-size: 6em;
}
#div-show>h3 {
    font-size: 2.5em;
}
#div-tickets {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.button-show {
    width: 10vw;
    height: 5vh;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
}
.button-show:hover {
    background-color: white;
    transition: 0.5s;
    color: #181818;
}
.button-show p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-show p:hover {
    color: #181818;
}

/* ____________________________________________ */

#img-guy {
    background-image: linear-gradient(#23374d, #e5e5e5);
    width: 30vw;
    height: 121vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img-guy img {
    border: 4px solid white;
    box-shadow: 8px 4px 100px -2px rgb(55, 58, 61);
    border-radius: 35px;
    transform: rotate(2deg);
}
.button-show-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =====================================
ABOUT CYPHER 
========================================*/

#about {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100vw;
}
.about-cypher-image>h2 {
    font-size: 10em;
    text-align: center;
}
.about-cypher-image {
    background-image: url("../img/about-cypher.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

/* ____________________________________________ */

.about-cypher {
    background-color: #e5e5e5;
    width: 50vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.about-cypher h2 {
    color: #23374d;
    font-size: 3em;
    margin-bottom: 2%;
}
.about-cypher>p {
    color: #181818;
    width: 60%;
    font-size: 1.1em;
    text-align: center;
}

/* =====================================
INSTAGRAM 
========================================*/

#insta {
    background-image: linear-gradient(0.23turn, #e5e5e5, #23374d);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#insta h2 {
    color: white;
    text-shadow: 2px 2px 2px#181818;
}

/* =====================================
BAND 
========================================*/

#img-concert {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img {
    position: relative;
}
.img>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.8vw;
    height: 50vh;
}
.hover-image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24vw;
    height: 48vh;
}

.hover-image>p {
    display: none;
}
.hover-image:hover>p {
    display: initial;
}
.hover-image:hover {
    background-color: rgba(10, 10, 10, 0.8);
    transition: 0.4s;
    margin: 2%;
}

/* =====================================
CONTACT
========================================*/

#aside-contact {
    background-image: linear-gradient(#e5e5e5, #23374d);
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#aside {
    background-image: url('../img/aside.jpg');
    background-position: center;
    background-size: cover;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-div {
    margin: 5%;
    text-align: justify;
}
.aside-div>h2 {
    font-size: 2em;
}
.aside-div p {
    text-align: center;
}

/* ____________________________________________ */

#contact {
    padding: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h2 {
    color: white;
    text-shadow: 2px 2px 2px#181818;
}
#contact-description-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contact-titre h3 {
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 2px#181818;
}
.contact-titre {
    color: white;
    text-shadow: 2px 2px 2px#181818;
}
input[type=text], input[type="tel"], input[type="email"], textarea {
    width: 20vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="email"] {
    width: 40.2vw;
}
textarea {
    width: 40.2vw;
}
input[type=submit] {
    width: 40.2vw;
    background-color: #23374d;
    color: #e5e5e5;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #e5e5e5;
    color: #181818;
}
iframe {
    width: 100%;
    height: 300%;
    margin: 5%;
}

/* =====================================
FOOTER
========================================*/

footer {
    padding: 2%;
    background-color: #e5e5e5;
    height: 53vh;
    border-top: 1.5px solid rgb(0, 0, 0);
}

#footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer>h2, p, input, button {
    margin-top: 1%;
}
#footer>p {
    font-size: 1.2em;
}
#footer>h3 {
    font-size: 2em;
}
.titre-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre-footer>h2 {
    font-size: 6em;
    color: #23374d;
    text-shadow: 2px 2px 2px#181818;
}
.titre-footer>h3 {
    font-size: 2em;
    color: #23374d;
    text-shadow: 0px 2px 2px#232323;
}
.titre-footer>p {
    font-size: 1em;
    color: #181818;
}
.button-submit {
    margin: 4%;
    width: 10vw;
    height: 5vh;
    border: 2px solid #181818;
    border-radius: 20px;
}
.button-submit:hover {
    background-color: #23374d;
    transition: 0.5s;
}
.button-submit p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-submit p:hover {
    color: white;
    transition: 0.5s;
}
#input-submit-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gg{
    margin: 2%;
    color: #181818;
}
/* =====================================
BUTTON TOP-PAGE
========================================*/

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
}